.options {
  border: 1px solid teal;
  text-align: center;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.optionsList {
  display: flex;
  gap: 5px;
}
